body {
  background-color: #22252b;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #22252b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bothColumns {
  background-color: #22252b;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

button:focus {
  outline: none;
}

.catButton {
  background-color: #4c87af; 
  border: none; 
  color: white; 
  padding: 10px 24px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer; 
  outline: none !important;
}


.dogButton {
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 10px 24px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 5px;
  outline: none !important;
}

.Picture {
  background-color: #22252b;
  object-fit: cover;
  width: 450px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  outline: none !important;
}

img {
  padding: 0;
  margin: 0;
  border: none !important;
  outline: none !important;
}